<form #form="ngForm" (ngSubmit)="submit(); form.reset()">

  <div>
    <label>Name</label>
    <input type="text" #n="ngModel" name="name" [(ngModel)]="model.name" required />
  <br />  Name touched: {{n.touched}}<br />
    Name dirty: {{n.dirty}}<br />
    Name valid: {{n.valid}}<br />
    <span class="error" *ngIf="n.touched && n.invalid">Name is required</span>
  </div>

  <div>
    <label>Birth Year</label>
    <input type="number" name="birthYear" [(ngModel)]="model.birthYear" />
  </div>

  <div>
    <label>Security question</label>
    <select name="question" [(ngModel)]="model.question">
      <option value="pet">First pet's name?</option>
      <option value="food">Favorite food?</option>
      <option value="song">Favorite song?</option>
    </select>
  </div>

  <button type="submit" [disabled]="!form.valid">Submit</button>

</form>
