<div class="card mb-4" width="200">
  <img *ngIf="member.photoUrl != null" class="card-img-top" src="{{member.photoUrl}}" alt="{{member.name}}" height="128" width="128" />
  <img *ngIf="member.photoUrl == null" class="card-img-top" src="../../../assets/default.png" alt="Card Image" height="128" width="128" />
  <div class="card-body">
    <h6 class="card-title"><strong>{{member.name}}, {{member.age}}</strong></h6>
    <p class="card-text">{{member.city}}</p>
    <button class="btn btn-primary" routerLink="/members/{{member.id}}"><i class="fa fa-user mr-1"></i></button>
  </div>
</div>
